.card1{
    background-image: url("../img/bg-4.png");
    border-radius: 10px;  
    width: 340px;
    height: 245px;
    display: flex;
    flex-direction: column;
}

.card1-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.card1__tag{
    background-color:#ff3333;
    width: 18%;
    height: 18px;
    /* min-height: 10px; */
    border-radius: 3px;
    margin: 10px 15px;
    padding: 2px 10px;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    text-align: center;
    align-items:center;

}

.card1__btn{
    border: none;
    background-color: transparent;
}
.card1__btn img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.card1__btn img:hover{
    background-color: rgb(187, 185, 185);
}

.card1-container2{
    display: flex;
    flex-direction: column;
    margin: 75px 35px;

    font-family: Arial, sans-serif;
    color: white;
    /* font-weight: 200; 
    why not work? */

}

.card1__title{
    font-size: 23px;
    margin: 10px 0px -10px;
    font-weight: 200;

}

.card1__subtitle{
    font-size: 14px;
    font-weight: 200;
}




.card2-container{
    background-image: url("../img/bg-2.png");
    border-radius: 10px;
    width: 736px;
    height: 416px;
    margin-top: 10px;
}

.card2-tag{
    background-color:white;
    width: 8%;
    min-height: 10px;
    border-radius: 3px;
    position: relative;
    left: 625px;
    top: 45px;
    /* align-items: center; */
}

.card2-tag span {
    padding: 2px 12px;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
}

.card2-ifo{
    position: relative;
    left: 8px;
    top: 250px;

    border-style: none none none solid;
    border-color: cyan;
    border-width: 5px;
}

.card2-date{
    position: relative;
    left: 48px;
    /* top:250px; */

    color:cyan;
    font-family: sans-serif;
    font-size: 18px;
}

.card2-title{
    position: relative;
    left: 48px;
    top: 10px;

    font-family: Arial, sans-serif;
    color: white;
    font-size: 50px;
}

.card2__btn{
    background-color:transparent;
    background-image: linear-gradient(to right, rgb(60, 60, 226), rgb(36, 90, 238));
    width: 15%;
    min-height: 35px;
    border: none;
    border-radius: 25px;
    position: relative;
    /* float: left; */
    left: 575px;
    top: 205px;
    /* align-items: center; */
    padding: 8px 12px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

/* .card2__btn p {
    padding: 8px 12px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
} */

.card2__btn:hover{
    /* background-color: rgb(5, 5, 199); */
    background-image: linear-gradient(to right, rgb(60, 60, 161), rgb(13, 57, 179));
}
